[Unit]
Description=RoboZonky {{robozonky_version}}: Automated Zonky.cz investing robot for {{robozonky_user}}
After=network.target

[Service]
User={{robozonky_user}}
Group={{robozonky_user}}
Restart=always
WorkingDirectory={{robozonky_path}}
ExecStart={{robozonky_path}}/robozonky-exec.sh
ExecStop=

[Install]
WantedBy=multi-user.target
