-n {{robozonky_instance_name}}
-p
"{{robozonky_storage_password}}"
-g
"{{robozonky_path}}/robozonky.keystore"
-s
"{{robozonky_path}}/robozonky-strategy.cfg"
-i
"{{robozonky_path}}/robozonky-notifications.cfg"
