#!/bin/bash
# safety settings
set -u
set -e
set -o pipefail

{% if robozonky_java_home is defined %}
export JAVA_HOME="{{robozonky_java_home}}"
export PATH="$JAVA_HOME/bin:$PATH"
{% endif %}
exec java -jar {{robozonky_path}}/robozonky-cli*.jar "$@"
